{% extends 'base.html' %}

{% block content %}

{% load static %}

<script src="{% url 'js-catlog' %}"></script>
<script src="{% static '/admin/js/core.js' %}"></script>
<link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">

<div class="container text-center">
    <h1>Avaliability of <a href='{% url "housing-detail" housing.pk %}'  >{{ housing.title }}</a> for {{ today|date:"F Y" }}</h1>
{% include "calendar.html" %} 
</div>


<div class="container d-flex justify-content-center align-items-center">


    <form method="POST" >
        {% csrf_token %}

        {{form.media}}
        {% for f in form %}
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">{{f.label}}</label>
            <div class="form-control">{{f}}</div>
            <label for="disabledTextInput" class="form-label">{{ f.errors }}</label>
          </div>
        <br>
        {% endfor %}
        <br>
        <input class="btn btn-primary" type="submit">
        
    </from>

</div>



{% endblock content %}