{% extends 'base.html' %}

{% block content %}

<div class="container text-center">
<h1> Booking : <a href='{% url "housing-detail" booking.housing.pk  %}'>{{booking.housing.title}} </a></h1>
<h2> User  details:</h2>
<h3>Username   {{booking.user.username}} </h3>
<h3>Full name :  {{booking.user.first_name}}  {{booking.user.last_name}} </h3>
<h3> Phone number:  {{booking.user.phone_number}} </h3>
<h3> start time  : {{booking.start_time}} </h3> 
<h3> end time  : {{booking.end_time}} </h3> 

<a class="btn btn-danger" href="{% url 'booking-delete' booking.pk %}" role="button">discard booking</a>
</div>

{% endblock content %}