{% extends 'booking/base.html' %}

{% block content %}




<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Number</th>
        <th scope="col">Capacity</th>
        <th scope="col">Price per day</th>
      </tr>
    </thead>
    <tbody>

{% for room in rooms %}        
      <tr>
        <th scope="row">{{forloop.counter}}</th>
       <td> <a href="{% url 'room-detail' room.pk %}">{{room.number}}</a></td>
        <td>{{room.capacity}}</td>
        <td>{{room.price_per_day}}</td>
      </tr>


{% endfor %}

    </tbody>
  </table>






{% endblock content %}